body {
	margin: 0;
	padding: 0;
}

p,
input,
button,
h1 {
	font-size: 1.8em;
	color: #03120e;
	font-family: 'Crimson Text', serif;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 90%;
	margin: 0 auto;
	padding-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.quote {
	min-height: 150px;
	width: 500px;
	padding: 10px 30px;
	margin-bottom: 25px;
	background-color: #fffcf7;
}

.input {
	padding: 10px 30px;
	margin: 60px 0;
}

.input input {
	border: none;
	width: 100%;
	text-align: center;
}

button {
	width: 30%;
	background-color: #03120e;
	border: solid 2px #03120e;
	color: #fff;
	font-size: 1.8em;
	cursor: pointer;
}

.end-game button {
	width: 50%;
}

.highlight {
	color: #bb6b00;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

.overlay-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
}

.overlay-div h1 {
	margin: 0px 0px 15px 0px;
	font-size: 5em; 
	color: #fffcf7;
	border-bottom: solid 1px #fffcf7;
}

.results {
	display: none;
}

.results p {
	color: #fffcf7;
}

.time-select {
	margin: 15px;
	font-size: 1.8em;
	color: #fffcf7;
}

ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

ul li {
	display: inline-block;
	position: relative;
	margin: 0 15px;
}

ul li input[type="radio"] {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

ul li label {
	display: flex;
	align-items: center;
	color: #fffcf7;
	font-size: 1.25rem;
	cursor: pointer;
	transition: all 0.25s linear;
}

ul li label:hover {
	color: #97d8b2;
}

ul li label::before {
	display: inline-block;
	content: "";
	height: 1.125rem;
	width: 1.125rem;
	margin-right: 0.625rem;
	border: 0.5rem solid #fffcf7;
	border-radius: 50%;
	transition: all 0.25s linear;
}

ul li label:hover:before {
	border: 0.5rem solid #97d8b2;
	background: #fffcf7;
	color: #fffcf7;
}

.checked label {
	color: #97d8b2;
}

.checked label:before {
	border: 0.5rem solid #97d8b2;
	background: #fffcf7;
	color: #fffcf7;
}